<%= render "shared/header" %>

<h1><%= @user.nickname %>さんのマイページ</h1>
<div class="user-info">
  <%= link_to "ユーザー情報の編集", edit_user_path %>
  <%= link_to "アカウントの削除", user_path(@user), method: :delete %>
</div>

<div class="user-item-index">
  <h2 class='title'><%= @user.nickname %>さんが出品した商品一覧</h2>
    <ul class='item-lists'>
      <%if @user.items.length != 0 %>
        <% @user.items.each do |item| %>
          <li class='list'>
            <%= link_to item_path(item) do %>
              <div class='item-img-content'>
              <%= image_tag item.image, class: "item-img" %>
              <% if item.order %>
                <div class='sold-out'>
                  <span>Sold Out!!</span>
                </div>
              <% end %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                <%= item.name %>
                </h3>
                <div class='item-price'>
                  <span><%= item.price %>円<br><%= item.shopping_fee_status[:name] %></span>
                </div>
                <div class='star-btn'>
                  <%# <%= image_tag "star.png", class:"star-icon" %>
                  <% if user_signed_in? && Favorite.find_by(user_id: current_user.id, item_id: item.id) %> 
                    <i class="fas fa-star"></i>
                  <% else %>
                    <i class="far fa-star"></i>
                  <% end %>
                  <span class='star-count'><%= item.favorites.length %></span>
                </div>
              </div>
            <% end %>
          </li>
        <% end %> 
      <% else %>
        <p>出品された商品はありません</p>
      <% end %>
    </ul>
</div>

<div class="user-fav-item">
  <h2 class='title'><%= @user.nickname %>さんのお気に入り商品一覧</h2>
    <ul class='item-lists'>
      <%if @user.favorites.length != 0 %>
        <% @user.favorites.each do |favorite| %>
          <li class='list'>
            <%= link_to item_path(favorite.item) do %>
              <div class='item-img-content'>
              <%= image_tag favorite.item.image, class: "item-img" %>
                <% if favorite.item.order %>
                  <div class='sold-out'>
                    <span>Sold Out!!</span>
                  </div>
                <% end %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                <%= favorite.item.name %>
                </h3>
                <div class='item-price'>
                  <span><%= favorite.item.price %>円<br><%= favorite.item.shopping_fee_status[:name] %></span>
                </div>
                <div class='star-btn'>
                  <%# <%= image_tag "star.png", class:"star-icon" %>
                  <% if user_signed_in? && Favorite.find_by(user_id: current_user.id, item_id: favorite.item_id) %> 
                    <i class="fas fa-star"></i>
                  <% else %>
                    <i class="far fa-star"></i>
                  <% end %>
                  <span class='star-count'><%= favorite.item.favorites.length %></span>
                </div>
              </div>
            <% end %>
          </li>
        <% end %> 
      <% else %>
        <p>出品された商品はありません</p>
      <% end %>
    </ul>
</div>

<%= render "shared/footer" %>
